## Preprocessing

In [176]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [177]:
# Drop the non-beneficial ID columns 'EIN' and 'NAME'

print(application_df.columns)

# Drop the non-beneficial ID columns 'EIN' and 'NAME'
if 'EIN' in application_df.columns and 'NAME' in application_df.columns:
    application_df = application_df.drop(columns=['EIN', 'NAME'])
else:
    print("Columns 'EIN' and 'NAME' not found in the DataFrame.")

Index(['EIN', 'NAME', 'APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION',
       'USE_CASE', 'ORGANIZATION', 'STATUS', 'INCOME_AMT',
       'SPECIAL_CONSIDERATIONS', 'ASK_AMT', 'IS_SUCCESSFUL'],
      dtype='object')

In [178]:
# Determine the number of unique values in each column.

unique_counts = application_df.nunique()

# Display the unique value counts for each column
print(unique_counts)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [179]:
# Look at APPLICATION_TYPE value counts for binning
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")

application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
print(application_type_counts)

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [180]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff = 150
application_types_to_replace = application_type_counts[application_type_counts < cutoff].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: count, dtype: int64

In [181]:
# Look at CLASSIFICATION value counts for binning

classification_counts = application_df['CLASSIFICATION'].value_counts()
print(classification_counts)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [182]:
# You may find it helpful to look at CLASSIFICATION value counts >1

classification_counts_gt1 = classification_counts[classification_counts > 1]
print(classification_counts_gt1)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [183]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
# Choose a cutoff value
cutoff_value = 150  # You can adjust this value based on your preference

# Create a list of classifications to be replaced
classifications_to_replace = classification_counts[classification_counts < cutoff_value].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1003
C7000      777
C1700      287
C4000      194
Name: count, dtype: int64

In [184]:
# Convert categorical data to numeric with `pd.get_dummies`
# Use pd.get_dummies to convert categorical data to numeric
application_df = pd.get_dummies(application_df, columns=['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS'])

# Display the resulting DataFrame
application_df.head()

,EIN,NAME,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,1,5000,1,False,True,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,1,108590,1,False,False,False,True,False,...,True,False,False,False,False,False,False,False,True,False
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,1,5000,0,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,1,6692,1,False,False,False,True,False,...,False,True,False,False,False,False,False,False,True,False
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,1,142590,1,False,False,False,True,False,...,False,False,True,False,False,False,False,False,True,False

In [185]:
# Split our preprocessed data into our features and target arrays
# Define the target variable
y = application_df['IS_SUCCESSFUL']

# Define the features (all columns except 'IS_SUCCESSFUL')
X = application_df.drop(columns=['IS_SUCCESSFUL'])


# Split the preprocessed data into a training and testing dataset
from sklearn.model_selection import train_test_split

# Split the data into a training set (80%) and a testing set (20%)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5, random_state=42)

In [186]:

# Select only numeric columns for scaling
numeric_columns = ['STATUS', 'ASK_AMT'] + [col for col in X.columns if col.startswith('APPLICATION_TYPE_') or col.startswith('AFFILIATION_') or col.startswith('CLASSIFICATION_') or col.startswith('USE_CASE_') or col.startswith('ORGANIZATION_') or col.startswith('INCOME_AMT_') or col.startswith('SPECIAL_CONSIDERATIONS_')]

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler to the training data
X_train_scaled = scaler.fit_transform(X_train[numeric_columns])

# Scale the testing data using the same scaler
X_test_scaled = scaler.transform(X_test[numeric_columns])

In [187]:

# Create a StandardScaler instances
#scaler = StandardScaler()

# Fit the StandardScaler
#X_scaler = scaler.fit(X_train)

# Scale the data
#X_train_scaled = X_scaler.transform(X_train)
#X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [188]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn = tf.keras.models.Sequential()
from tensorflow.keras.layers import Dense

# First hidden layer
input_features = X_train_scaled.shape[1]  # Number of columns in the scaled features
nn.add(Dense(units=64, activation='relu', input_dim=input_features))

# Second hidden layer
nn.add(Dense(units=32, activation='relu'))

# Output layer
nn.add(Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_19"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_51 (Dense)            (None, 64)                3072

 dense_52 (Dense)            (None, 32)                2080

 dense_53 (Dense)            (None, 1)                 33

=================================================================
Total params: 5185 (20.25 KB)
Trainable params: 5185 (20.25 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [189]:
# Compile the model

nn.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [190]:
# Train the model

fit_model = nn.fit(X_train_scaled, y_train, epochs=150)

Epoch 1/150
536/536 [==============================] - 2s 2ms/step - loss: 0.5759 - accuracy: 0.7146
Epoch 2/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5547 - accuracy: 0.7302
Epoch 3/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5514 - accuracy: 0.7301
Epoch 4/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5497 - accuracy: 0.7309
Epoch 5/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5476 - accuracy: 0.7319
Epoch 6/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5467 - accuracy: 0.7327
Epoch 7/150
536/536 [==============================] - 1s 2ms/step - loss: 0.5459 - accuracy: 0.7335
Epoch 8/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5446 - accuracy: 0.7336
Epoch 9/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5436 - accuracy: 0.7333
Epoch 10/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5432 - accuracy: 0.7340
Epoch 11/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5429 - accuracy: 0.7345
Epoch 12/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5423 - accuracy: 0.7365
Epoch 13/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5408 - accuracy: 0.7353
Epoch 14/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5412 - accuracy: 0.7384
Epoch 15/150
536/536 [==============================] - 1s 2ms/step - loss: 0.5410 - accuracy: 0.7355
Epoch 16/150
536/536 [==============================] - 1s 2ms/step - loss: 0.5397 - accuracy: 0.7364
Epoch 17/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5393 - accuracy: 0.7368
Epoch 18/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5396 - accuracy: 0.7367
Epoch 19/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5388 - accuracy: 0.7374
Epoch 20/150
536/536 [==============================] - 1s 2ms/step - loss: 0.5377 - accuracy: 0.7389
Epoch 21/150
536/536 [==============================] - 1s 2ms/step - loss: 0.5386 - accuracy: 0.7384
Epoch 22/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5374 - accuracy: 0.7369
Epoch 23/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5371 - accuracy: 0.7389
Epoch 24/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5371 - accuracy: 0.7398
Epoch 25/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5361 - accuracy: 0.7410
Epoch 26/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5362 - accuracy: 0.7402
Epoch 27/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5358 - accuracy: 0.7395
Epoch 28/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5357 - accuracy: 0.7403
Epoch 29/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5362 - accuracy: 0.7403
Epoch 30/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5356 - accuracy: 0.7397
Epoch 31/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5346 - accuracy: 0.7416
Epoch 32/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5348 - accuracy: 0.7403
Epoch 33/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5348 - accuracy: 0.7395
Epoch 34/150
536/536 [==============================] - 1s 2ms/step - loss: 0.5349 - accuracy: 0.7393
Epoch 35/150
536/536 [==============================] - 1s 2ms/step - loss: 0.5345 - accuracy: 0.7415
Epoch 36/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5340 - accuracy: 0.7413
Epoch 37/150
536/536 [==============================] - 1s 2ms/step - loss: 0.5340 - accuracy: 0.7406
Epoch 38/150
536/536 [==============================] - 1s 2ms/step - loss: 0.5333 - accuracy: 0.7418
Epoch 39/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5333 - accuracy: 0.7420
Epoch 40/150
536/536 [==============================] - 1s 2ms/step - loss: 0.5328 - accuracy: 0.7412
Epoch 41/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5329 - accuracy: 0.7412
Epoch 42/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5334 - accuracy: 0.7430
Epoch 43/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5328 - accuracy: 0.7409
Epoch 44/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5322 - accuracy: 0.7420
Epoch 45/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5329 - accuracy: 0.7409
Epoch 46/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5315 - accuracy: 0.7429
Epoch 47/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5322 - accuracy: 0.7417
Epoch 48/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5321 - accuracy: 0.7422
Epoch 49/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5321 - accuracy: 0.7421
Epoch 50/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5315 - accuracy: 0.7432
Epoch 51/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5316 - accuracy: 0.7434
Epoch 52/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5316 - accuracy: 0.7426
Epoch 53/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5314 - accuracy: 0.7430
Epoch 54/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5309 - accuracy: 0.7422
Epoch 55/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5314 - accuracy: 0.7416
Epoch 56/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5306 - accuracy: 0.7426
Epoch 57/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5307 - accuracy: 0.7437
Epoch 58/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5309 - accuracy: 0.7426
Epoch 59/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5302 - accuracy: 0.7437
Epoch 60/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5308 - accuracy: 0.7426
Epoch 61/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5301 - accuracy: 0.7434
Epoch 62/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5308 - accuracy: 0.7434
Epoch 63/150
536/536 [==============================] - 1s 2ms/step - loss: 0.5303 - accuracy: 0.7436
Epoch 64/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5301 - accuracy: 0.7427
Epoch 65/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5300 - accuracy: 0.7435
Epoch 66/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5299 - accuracy: 0.7446
Epoch 67/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5300 - accuracy: 0.7440
Epoch 68/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5294 - accuracy: 0.7434
Epoch 69/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5294 - accuracy: 0.7434
Epoch 70/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5292 - accuracy: 0.7436
Epoch 71/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5294 - accuracy: 0.7446
Epoch 72/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5295 - accuracy: 0.7429
Epoch 73/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5295 - accuracy: 0.7430
Epoch 74/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5288 - accuracy: 0.7435
Epoch 75/150
536/536 [==============================] - 1s 2ms/step - loss: 0.5293 - accuracy: 0.7440
Epoch 76/150
536/536 [==============================] - 1s 2ms/step - loss: 0.5290 - accuracy: 0.7444
Epoch 77/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5289 - accuracy: 0.7437
Epoch 78/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5289 - accuracy: 0.7448
Epoch 79/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5285 - accuracy: 0.7438
Epoch 80/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5288 - accuracy: 0.7441
Epoch 81/150

536/536 [==============================] - 1s 1ms/step - loss: 0.5283 - accuracy: 0.7443
Epoch 82/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5283 - accuracy: 0.7440
Epoch 83/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5280 - accuracy: 0.7435
Epoch 84/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5287 - accuracy: 0.7441
Epoch 85/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5283 - accuracy: 0.7431
Epoch 86/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5282 - accuracy: 0.7442
Epoch 87/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5280 - accuracy: 0.7441
Epoch 88/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5280 - accuracy: 0.7446
Epoch 89/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5274 - accuracy: 0.7452
Epoch 90/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5280 - accuracy: 0.7448
Epoch 91/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5272 - accuracy: 0.7452
Epoch 92/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5283 - accuracy: 0.7430
Epoch 93/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5269 - accuracy: 0.7442
Epoch 94/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5280 - accuracy: 0.7454
Epoch 95/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5277 - accuracy: 0.7438
Epoch 96/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5271 - accuracy: 0.7452
Epoch 97/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5270 - accuracy: 0.7441
Epoch 98/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5272 - accuracy: 0.7449
Epoch 99/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5270 - accuracy: 0.7446
Epoch 100/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5275 - accuracy: 0.7441
Epoch 101/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5271 - accuracy: 0.7450
Epoch 102/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5274 - accuracy: 0.7444
Epoch 103/150
536/536 [==============================] - 1s 2ms/step - loss: 0.5272 - accuracy: 0.7449
Epoch 104/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5270 - accuracy: 0.7445
Epoch 105/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5271 - accuracy: 0.7445
Epoch 106/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5266 - accuracy: 0.7440
Epoch 107/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5265 - accuracy: 0.7445
Epoch 108/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5269 - accuracy: 0.7441
Epoch 109/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5267 - accuracy: 0.7456
Epoch 110/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5271 - accuracy: 0.7449
Epoch 111/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5264 - accuracy: 0.7457
Epoch 112/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5262 - accuracy: 0.7440
Epoch 113/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5267 - accuracy: 0.7449
Epoch 114/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5259 - accuracy: 0.7449
Epoch 115/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5264 - accuracy: 0.7449
Epoch 116/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5259 - accuracy: 0.7448
Epoch 117/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5267 - accuracy: 0.7447
Epoch 118/150
536/536 [==============================] - 1s 2ms/step - loss: 0.5259 - accuracy: 0.7451
Epoch 119/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5257 - accuracy: 0.7452
Epoch 120/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5260 - accuracy: 0.7452
Epoch 121/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5258 - accuracy: 0.7450
Epoch 122/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5255 - accuracy: 0.7449
Epoch 123/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5256 - accuracy: 0.7457
Epoch 124/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5260 - accuracy: 0.7449
Epoch 125/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5259 - accuracy: 0.7450
Epoch 126/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5257 - accuracy: 0.7444
Epoch 127/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5258 - accuracy: 0.7445
Epoch 128/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5252 - accuracy: 0.7453
Epoch 129/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5253 - accuracy: 0.7438
Epoch 130/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5261 - accuracy: 0.7456
Epoch 131/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5260 - accuracy: 0.7455
Epoch 132/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5251 - accuracy: 0.7453
Epoch 133/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5252 - accuracy: 0.7453
Epoch 134/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5255 - accuracy: 0.7451
Epoch 135/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5257 - accuracy: 0.7435
Epoch 136/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5251 - accuracy: 0.7438
Epoch 137/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5256 - accuracy: 0.7452
Epoch 138/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5246 - accuracy: 0.7452
Epoch 139/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5252 - accuracy: 0.7443
Epoch 140/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5252 - accuracy: 0.7447
Epoch 141/150
536/536 [==============================] - 1s 2ms/step - loss: 0.5253 - accuracy: 0.7454
Epoch 142/150
536/536 [==============================] - 1s 2ms/step - loss: 0.5253 - accuracy: 0.7449
Epoch 143/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5246 - accuracy: 0.7455
Epoch 144/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5252 - accuracy: 0.7459
Epoch 145/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5250 - accuracy: 0.7451
Epoch 146/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5246 - accuracy: 0.7453
Epoch 147/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5247 - accuracy: 0.7456
Epoch 148/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5253 - accuracy: 0.7456
Epoch 149/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5245 - accuracy: 0.7459
Epoch 150/150
536/536 [==============================] - 1s 1ms/step - loss: 0.5244 - accuracy: 0.7458

In [160]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - loss: 0.5605 - accuracy: 0.7274 - 250ms/epoch - 1ms/step
Loss: 0.5604808330535889, Accuracy: 0.7274052500724792

In [161]:
# Export our model to HDF5 file

model_path = "your_model.keras"


# Save the model to an HDF5 file
nn.save(model_path)